/* GLOBAL RESET */
* {box-sizing: border-box;}
body {margin: 0;}

/* GLOBAL COLORS */
body {color: rgb(240, 231, 218);}
a {color: rgb(255, 238, 168, 0.6);}
a:hover {color: rgba(255, 238, 168, 1);}

/* GLOBAL TYPOGRAPHY */
body {
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 100%; /* 16px */
    line-height: 1.4;
}

/* HEADER */
header {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

header { 
    background-color: #ffb773;
    color: rgb(240, 231, 218);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgb(255, 238, 168, .7);
    text-decoration: none;
}

header a:hover {
    color: rgb(255, 238, 168, 1);
}

/* SITE ID */
.site-id h1 {
    margin-left: .5em;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.site-nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main { 
    background: #FFF7ED;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 183, 116, .7);
}

section {
    padding: 3em 1em;
}

/* FOOTER */
footer {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 1em;
    background-color: #fff6ed;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 3em 1em;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgb(0,0,0,.1);
    }
}

aside {
    padding: 0 1em;
}

primary {
    padding: 0 1em;
}

.primary a {
    color: rgb(255, 183, 116, .6);
}

.primary a:hover {
    color: rgb(255, 183, 116);
}

.two-col-sidebar a {
    color: rgb(255, 183, 116, .6);
}

.two-col-sidebar a:hover {
    color: rgb(255, 183, 116);
}

/* SOCIAL NAV */
.social-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-nav a {
    display: block;
    padding: 1em;
}

/* HERO STYLING */
.hero .intro {
    margin: 3em;
    padding: 3em;
    flex-basis: 30em;
    background-image: url(../img/hero_card.png);
    opacity: 90%;
    background-size: cover;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 #FFB774;
}

/* HERO SECTION */
.hero {
    text-align: center;
    background-color: #FFF7ED;
    color: rgb(255, 183, 116, .6);
    padding: 6em 1em;
}

.hero h2 {
    font-family:'DynaPuff','Gill Sans',sans-serif;
    font-size: 4em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
    color: rgb(255, 183, 116);
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
}

/* COURSES SECTION */
.courses {
    background-image: url(../img/background_2.jpg);
    background-size: cover;
    background-position: top;
    padding: 12em 1em;
    display: grid;
    justify-content: center;
    background-color: #fff6ed;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    font-family:'DynaPuff','Gill Sans',sans-serif;
    text-align: center;
    color: rgb(255, 183, 116);
    margin: 1em;
    font-size: 200%;
}

.courses ul a {
    color: rgb(255, 183, 116, .6);
}

.courses ul a:hover {
    color: rgb(255, 183, 116);
}

.courses .cards {
    padding: 3em;
    flex-basis: 30em;
    background-size: cover;
    background-color: #FFF7ED;
    opacity: 80%;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 #FFB774;
}

/* FOOTER */
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgb(236, 234, 250); */
}

footer a {
    color: rgb(255, 183, 116, .6);
}

footer a:hover {
    color: rgb(255, 183, 116);
}

/* STYLING FOR SUB PAGES */
.page-sub .hero {
    background-color: #FFF7ED;
    color: rgb(255, 183, 116, .6);
}
.page-sub .coursework {
    background-color: #FFF7ED;
}
/* COURSEWORK SECTION */
.coursework {
    padding: 6em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(236, 234, 250);
    color: rgb(255, 183, 116, .6);
}

.projects {
    margin: 2em;
    color: rgb(255, 183, 116, .6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects h3 {
    color: rgb(255, 183, 116);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects a {
    color: rgb(255, 183, 116, .6);
}

.projects a:hover {
    color: rgb(255, 183, 116);
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}

dd {
    margin: 0;
}

.page-home .hero {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 13vh 4em;
}
/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */