/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body {color: rgb(240, 231, 218);
a {color: rgb(255, 238, 168, 0.6)}
a:hover {color: rgba(255, 238, 168, 1)}

/* GLOBAL TYPOGRAPHY */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}

/* HEADER */
header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header { 
    background-color: rgb(176, 166, 233, .7);
    color: rgb(240, 231, 218);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgb(255, 238, 168, .7);
    text-decoration: none;
}

header a:hover {
    color: rgb(255, 238, 168, 1);
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.site-nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main { 
    background: rgb(236, 234, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(153, 115, 175, .4);
}

section {
    padding: 3em 1em;
}

/* FOOTER */
footer {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 1em;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 3em 1em;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgb (0,0,0,.1)
    }
}

aside {
    padding: 0 1em;
}

primary {
    padding: 0 1em;
}

.primary a {
    color: rgb(153, 115, 175, .4);
}

.primary a:hover {
    color: rgb(153, 115, 175);
}

.two-col-sidebar a {
    color: rgb(153, 115, 175, .4);
}

.two-col-sidebar a:hover {
    color: rgb(153, 115, 175);
}

/* SOCIAL NAV */
.social-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-nav a {
    display: block;
    padding: 1em;
}

/* HERO SECTION */
.hero {
    text-align: center;
    background-color: rgba(176, 166, 233, 1);
    color: rgb(240, 231, 218);
    padding: 6em 1em;
}

}
.hero h2 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
    color: rgb(255, 238, 168, 1);
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
}

.hero, .hero h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    

/* COURSES SECTION */
.courses {
    padding: 6em 1em;
    display: grid;
    justify-content: center;
    background-color: rgb(236, 234, 250);
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    text-align: center;
    color: rgb(153, 115, 175);
    margin: 1em;
    font-size: 150%;
}

.courses h3, .courses ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.courses ul a {
    color: rgb(153, 115, 175, .5);
}

.courses ul a:hover {
    color: rgb(153, 115, 175);
}

/* FOOTER */
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(236, 234, 250);
}

footer a {
    color: rgb(153, 115, 175, .5);
}

footer a:hover {
    color: rgb(153, 115, 175);
}

/* STYLING FOR SUB PAGES */
.page-sub .hero {
    background-color: rgb(176, 166, 233, .5);
    color: rgb(244, 236, 241);
}

/* COURSEWORK SECTION */
.coursework {
    padding: 6em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(236, 234, 250);
    color: rgb(153, 115, 175, .5);
}

.projects {
    margin: 2em;
    color: rgb(143, 101, 168, .5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects h3 {
    color: rgb(153, 115, 175); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects a {
    color: rgb(153, 115, 175, .4);
}

.projects a:hover {
    color: rgb(153, 115, 175);
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}

/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */