/* BASE CSS (Initial Setup)
-----------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
----------------------------------- */

/* TYPOGRAPHY */
body {
    font-size: 0.75em; /* 16px = 1em */
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: rgba(0 0 0 / 0.7);
}

/* HEADINGS */
/*
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/


h2, h3, h4, h5, h6 {
    margin: 0.5em 0;  
}
h1 {
    font-size: 3.5em; /* 48px */
    line-height: 1em;
}
h2 {
    font-size: 2.5em; /* 48px */
    line-height: 1.1em;
}
h3 {
    font-size: 1.875em; /* 36px */
    line-height: 1.2em;
}
h4 {
    font-size: 1.125em; /* 21px */
    line-height: 1.3em;
}
h5 {
    font-size: 1em; /* 18px */
    line-height: 1.4em;
}
h6 {
    font-size: 0.875em; /* 16px */
    line-height: 1.5em;
}

/* PARAGRAPH */
p {
    margin: 0.5em 0;
    max-width: 38em;
}

/* LINKS */
a {
    color: rgba(141,118,91,.7);
    text-decoration: none;
}

a:hover {
    color: rgba(141, 118, 91, 1);
    /* text-decoration: underline; */
    font-weight: 600;
}

/* HELPER CLASSES */
 /* .text-centered {
    text-align: center;
 } */
/* .full-width {
    max-width: none;
    width: 100%;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
} */

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button,
button {
    font-size: inherit;
    font-family: "neulis-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 1.2;
    background-color: rgba(0,0,0,1);
    border: 1px solid #d6ccc2;
    color: rgba(0 0 0 / 0.7);
    padding: 1em;
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0em;
    text-align: center;
    border-radius: .5em;
    align-items: center;
}

.button:hover,
button:hover {
    background-color: rgba(0,0,0,1);
    border-color: #d6ccc2;
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.button.alt {
    border: 1px solid rgba(0,0,153,.7);
    background-color: transparent;
    color: rgba(0,0,153,.7);
    display: grid;
    place-items: center;
}

.button.alt:hover {
    border-color: rgba(0,0,153,1);
    color: rgba(0 0 0 / 0.7);
}

/* LAYOUT */

/* SIMPLE RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: auto auto;
    /* padding: 0 4%; */
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px) {
    body {
        font-size: 100%; /* 14px */
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5%; /* 16px */
    }
    .container {
        max-width: 1200px;   
    }
}

/* FOR DEMO PURPOSES ONLY */
body.demo {
    padding-top: 2em;
}

body.demo::before {
    content: "Small (Mobile) Screen (less than 768px)";
    background-color: powderblue;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    padding: .25em;
}

@media (min-width: 768px) {
    body.demo::before {
        content: "Medium (Tablet) Screen (768px - 1050px)";
        background-color: palevioletred;
        width: 100%;
        position: fixed;
        top: 0;
        text-align: center;
        padding: .25em;
}
}

@media (min-width: 1050px) {
    body.demo::before {
        content: "Large (Notebook) Screen (1050px - 1250px)";
        background-color: palegoldenrod;
        width: 100%;
        position: fixed;
        top: 0;
        text-align: center;
        padding: .25em;
}
}

@media (min-width: 1250px) {
    body.demo::before {
        content: "Extra Large (Desktop) Screen (1250px +)";
        background-color: peachpuff;
        width: 100%;
        position: fixed;
        top: 0;
        text-align: center;
        padding: .25em;
}
}

/* SEMATIC GRID SYSTEM */

.row > .column {
    margin-bottom: 4%;
}

@media (min-width: 768px) {

    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 47%;
    }

    .row > .column.one-third {
        max-width: 29.3333%;
    }

    .row > .column.two-thirds {
        max-width: 66.6666%;
    }

    .row > .column.one-fourth {
        max-width: 21%;
    }

    .row > .column.three-fourths {
        max-width: 79%;
    }

    .row > .column.two-fourths {
        max-width: 58%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* FOR DEMO PURPOSES ONLY */
.demo .column {
    background-color: rgba(0, 0, 0, .2);
    padding: 1em;
    text-align: center;
}

/* SITE HEADER */
.site-header .container {
    max-width: none;
    background-color: rgba(244, 244, 244, 1);
    padding: 1em 0em 1em 0em;
}

.gif {
    align-items: center;
}

/* ON LARGER SCREEN LOGO GOES LEFT AND NAV GOES RIGHT */
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* STYLING FOR BOTH SITE HEADER AND FOOTER */
.site-header a,
.site-footer a {
    color: rgba(0,0,0,.5);
}

.site-header a:hover,
.site-footer a:hover {
    color: #8d765b;
    text-decoration: none;
    font-weight: 600;
}

/* LOGO AREA */
.site-id h1 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    margin: 0.5em;
}

/* SITE-NAV */
.site-nav {
    padding-right: 1em;
}
.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a {
    display: block;
    padding: 1em;
}

.site-nav .menu-button {
    display: none;
}

/* SECTIONS */
section {
    padding: 1em;
}

/* HERO */
.hero .container {
    max-width: none;
}

.site-main .hero {
    padding: 10% 4%;
    /* background-color: rgba(237, 237, 233, .6); */
    text-align: center;
    background-color: rgba(141,118,91,.5);
}

.hero h2, p {
    max-width: 500px;
    /* margin-left: auto; */
    margin-right: auto;
}

.row p {
    margin-left: 0;
}

.hero .centered {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3em;
    max-width: none;
    justify-content: space-evenly;
    align-items: center;
}

.row img {
    border-radius: 1em;
}

.site-footer .container {
    background-color: rgba(244, 244, 244, 1);
    max-width: none;
    padding: 1em 0 0em 0;
}

.button,
button,
form input[type="submit"] {
    font-size: .8em;
    line-height: 1;
    color: rgba(0 0 0 / 0.7);
    padding: 1em 1.5em;
    display: inline-block;
    margin: 2em 0em 0.5em 0;
    text-align: center;
    border-radius: 2em;
    background-color: transparent;
    border: 2px solid #d6ccc2;
    font-family: "neulis-sans", sans-serif;
    font-weight: 200;
    max-width: 150px;
    margin: 1em .5em 0 0;
}

@media (max-width: 767px) {
    .button, button, form input[type="submit"] {
        margin: 1em .5em auto 0;
        display: inline-block;
    }
}

.button-wa {
    font-size: .6em;
    line-height: 1;
    background-color: transparent;
    color: rgba(0 0 0 / 0.7);
    padding: 1.25em;
    display: inline-block;
    margin: 2em 0.5em 0.5em 0;
    text-align: center;
    border-radius: 1em;
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
    color: #6d5646;
    text-decoration: none;
    background-color: #d6ccc2;
}

.button-wa:hover {
    background-color:  rgba(7, 15, 50, 0.897);
    color: rgba(0 0 0 / 0.7);
    text-decoration: none;
}

form {
    max-width: 1500px;
    margin: 1em auto;
}
  
form label,
form input,
form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
  
form input[type="text"],
form textarea {
    border: 1px solid #ccc;
    padding: 0.5em;
    color: #666;
}
  
form textarea {
    min-height: 10em;
    line-height: 1.5;
}
  
form label {
    margin-top: 1em;
    margin-bottom: 0.25em;
}
  
form input[type="submit"] {
    width: 1125px;
    margin-top: 1.5em;
}

.site-main {
    background-color: rgba(244, 244, 244, 1);
}

h1, h2, h3 {
    font-family: "the-seasons", sans-serif;
    font-weight: 500;
    color: #6d5646;
}

h1 {
    margin: 0;
}

h4 {
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    color: #8d765b;
}

h3 a {
    color:rgba(0,0,0,.5);
}

h3 a:hover {
    color: rgba(141, 118, 91);
    /* text-decoration: underline; */
    font-weight: 600;
}

.site-main .container {
    padding: 0;
}

.caption .container {
    display: block;
    max-width: 1200px;
}

.fadeandscaleIn-caption h3 {
    color: rgba(0,0,0,.7);
}

.site-main .about {
    max-width: 1200px;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
}

#projects .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 4em;
    width: 100%;
}

/* .full-width-wrapper {
    grid-column: span 2;
    position: relative;
    overflow: hidden;
    margin: 0;
    object-fit: contain;
    height: auto;
    width: auto;
} */

.row-sub {
    display: contents;
}

.subcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    background-color: var(--color-hero-background);
    padding: 0 4em 2em 4em;
    margin: 0;
}

.subcontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

.image {
    width: 100%;
    height: 100%;
}

/* .full-width-wrapper img {
    transition: transform 0.3s ease;
} */
/* 
@media (max-width: 768px) {
    .full-width {
        grid-column: span 1;
        width: 100%;
    }
} */

@media (max-width: 768px) {
    img {
        display: flex;
        /* object-position: bottom; */
        bottom: 0;
        /* justify-content: flex-end; */
    }
}

img {
    max-width: 100%;
    height: auto;
}

#works .container {
    padding: 0;
}

@media (max-width: 768px) {
    .p-top {
        margin-top: 10px;
    }
}


.half-width-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    z-index: 0;
}

@keyframes move-in {  
    from { transform:translate(0,-10px); opacity: 0; } 
    to { transform:translate(0,0); opacity: 1; } 
  }
    
.subcontainer, #contact {
    opacity:0; 
    animation: move-in ease-in-out; 
    animation-fill-mode: forwards;
    animation-duration: 2s;    
}
  
.subcontainer:nth-child(2) { animation-delay: .5s; }
.subcontainer:nth-child(3) { animation-delay: 1s; }  
      
.row-main {
    opacity:0; 
    animation: move-in ease-in-out; 
    animation-fill-mode: forwards;
    animation-duration: 2s;    
}

.row-main:nth-child(2) { animation-delay: .15s; }
.row-main:nth-child(3) { animation-delay: .25s; }  

.site-main, .site-header, .site-footer {
    opacity:0; 
    animation: move-in ease-in-out; 
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}

#intro .row-intro {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.row-intro {
    display: flex;
    padding: 0 3em;
    margin: auto auto;
}

@media (min-width: 768px) {
    .one-third.intro {
        max-width: 29.3%;
}
}

@media (min-width: 768px) {
    .two-thirds.intro {
        max-width: 66.6%;
}
}

.row-intro>* {
    flex-grow: 0;
    padding: 2%;
}

.project-info {
    margin-left: -2.5em;
}

ul li {
    list-style: none;
    padding: 0;
}

/* li {
    margin-right: 0.25em;
} */

.caps,
.one-third.intro h4,
.two-thirds.intro h4 {
    font-weight: 600;
}

hr {
    width: 100%;
    border: .75px solid lightgray;
}

@media (max-width: 768px) {
    .one-half.greeting,
    .one-half.education {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.one-half.greeting a {
    padding-right: 1em;
    color:rgba(141, 118, 91, 1);
}

#contact {
    padding: 0 0 5em 0;
}

@media (max-width: 768px) {
    #contact {
        padding: 0 2em 5em 2em;
    }
}

/* TOGGLE NAV */

@media (max-width: 767px) {
    .site-nav {
        padding-right: 0;
    }
    .toggle-nav .site-id {
        position: absolute;
    }
    .site-header .container {
        padding-bottom: 0;
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: 0.3em 0.8em;
        border: 1px solid black;
    }
    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(255,255,255,0);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }
    .toggle-nav .site-nav a:hover {
        background-color: rgba(214,204,194);
        color: white;
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }
}
/* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(244, 244, 244, 1);
        padding: 1.5em 1.5em 2.5em 1.5em;
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        color: #6d5646;
        font-size: 1.75em;
    }
    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }

.project-info li {
    line-height: 1.5em;
}

.container .row-intro {
    padding: 0;
}

@media (max-width: 767px) {
    .container .row-intro {
        display: block;
        padding: 0 0.5em 0.5em 0.5em;
    }
}

.one-third.explore {
    display: flex;
}

.swiper-slide {
    text-align: center;
}

.one-third.final {
    padding-top: 0;
}

/* .row-intro.final {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    max-width: 100%;
    height: auto;} */
     
.site-footer .container {
    padding-bottom: 2em;
}

.one-half.process {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.one-half.process h4 {
    text-align: center;
    margin-bottom: 1em;
}

.row-intro.code,
.row-intro.sitemap {
    max-width: 100%;
    height: auto;
    place-content: center;
}

/* 
.one-half.process,
.row-intro.sitemap {
    filter: drop-shadow(1px 1px 3px lightgray);
}

#works .row-intro,
#final .row-intro {
    filter: drop-shadow(1px 1px 3px lightgray);
} */

/* .row-intro .column.one-half {
    filter: drop-shadow(1px 1px 3px lightgray);
} */

.live {
    font-size: inherit;
    font-family: "neulis-sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 1.5;
    background-color: transparent;
    border: 1px solid #d6ccc2;
    color: rgba(0 0 0 / 0.7);
    padding: 1em;
    display: inline-block;
    text-align: center;
    border-radius: 2em;
    margin: 0 auto;
}

.live:hover {
    background-color: #d6ccc2;
    border-color: #d6ccc2;
    color: white;
    text-decoration: none;
    font-weight: 200;
}

@media (max-width: 767px) {
    .live {
        display: block;
        margin: 0 auto;
        width: 220px;
    }
}

.site-nav li {
    font-size: 112.5%;
}

/* FADE AND SCALE IN ANIMATION */
  @keyframes fadeandscaleIn {
    0% {
      transform: scale(.8);
      opacity: 0; 
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
  
  .fadeandscaleIn * {
    animation: fadeandscaleIn 1s ease-out forwards;
    opacity: 0;
}
  
  .fadeandscaleIn *:nth-child(1) { animation-delay: 0.25s;}
  .fadeandscaleIn *:nth-child(2) { animation-delay: 0.5s;}
  .fadeandscaleIn *:nth-child(3) { animation-delay: 0.75s;}
  
.fadeandscaleIn-caption * {
    animation: fadeandscaleIn 1s ease-out forwards;
    opacity: 0;
    animation-delay: 0.75s;
}

/* .content a {
    color: rgba(214, 204, 194, .7);
}

.content a:hover {
    color: rgba(214, 204, 194, 1);
} */

#projects, .hero h3 {
    color: rgba(0,0,0,.7);
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.content > * {
    transform: translateY(0);
    transition: all ease-in-out 0.3s;
}

.content:hover {
    opacity: 1;
    background-color: rgba(193,181,167,.8);
    width: 100%;
    height: 100%;
}

.content:hover > * {
    transform: translateY(0);
}

.half-width-wrapper {
    overflow: hidden;
    position: relative;
}

.half-width-wrapper img {
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.3s;
}

.half-width-wrapper:hover img {
    opacity: 0.1;
}



/* .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 21px;
} */

.content h2 {
    margin: 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.content h4 {
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.content a {
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.image img {
    display: block;
}

.image:hover .content h2 {
    padding-top: 1em;
    opacity: 1;
}

.image:hover .content h4 {
    opacity: 1;
}

.image:hover .content a {
    opacity: 1;
    color: rgba(0,0,0,.5);
}

.image:hover .content a:hover {
    color: #8d765b;
}
/* .image:hover > * {
    transform: translateY(40px);
} */

@media (max-width: 768px) {
    .image:hover .content h2 {
        position: absolute;
        opacity: 1;
        font-size: 1.25em;
        padding-top: 0;
    }
    
    .image:hover .content h4 {
        position: absolute;
        padding-top: 4em;
        opacity: 1;
        font-size: 0.75em;
    }
    
    .image:hover .button, button, form input[type="submit"] {
        position: absolute;
        opacity: 1;
        scale: 0.5;
        margin-top: 8em;
    }}

#works .fadeandscaleIn-caption {
    padding: 0 3em 0 4em;
}