/* BASE CSS (Initial Setup)
-----------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
----------------------------------- */


/* BASE TYPOGRAPHY */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    line-height: 1.4;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 4em;
    line-height: 1;
}
h2 {
    font-size: 2.5em;
    line-height: 1.1;
}
h3 {
    font-size: 2em;
    line-height: 1.2;

}
h4 {
    font-size: 1.5em;
    line-height: 1.3;

}
h5 {
    font-size: 1.25em;
    line-height: 1.35;

}
h6 {
    font-size: 1em;
    line-height: 1.4;
}

/* PARAGRAPHS - SET HORIZONTAL MEASURE */
p {
    max-width: 66ch;
}

/* MEDIA */

/* RESPONSIVE IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button {
    background-color: pink;
    color: white;
    padding: 1em 2em;
    display: inline-block;
    text-decoration: none;
    border-radius: 3em;
}