/* BASE CSS (Initial Setup)
-----------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #ARTICLE
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
----------------------------------- */

/* TYPOGRAPHY */
/* SET BODY TYPE */
body {
    font-size: 87.5%; /* 14px, 16px = 1em */
    font-family: "Livvic", sans-serif;
    line-height: 1.3em;
    color: rgba(145 134 116/ 0.8);
    font-weight: 400;
}

/* SET HEADING TYPE */
h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5em;
    color: rgba(77 71 45);
}

h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-family: "Livvic", sans-serif;
    font-weight: 500;
    color: rgb(128 123 90 / 1);
}

h5 {
    font-family: "Livvic", sans-serif;
    font-weight: 550;
    color: rgba(107, 98, 62, 0.8);
}


.site-header a {
    font-weight: 500;
    font-size: 1.125em;
}

p {
    color: rgba(123, 116, 87, 0.8);
    font-weight: 400;
}

/* HEADINGS */
/*
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/


h1, h2, h3, h4, h5, h6 {
    margin: 0.75em 0 0.5em 0;  
}
h1 {
    font-size: 3em; /* 48px */
    line-height: 1em;
}
h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.1em;
}
h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.2em;
}
h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.3em;
}
h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4em;
}
h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5em;
}
  
/* PARAGRAPH */
p {
    margin: .5em 0;
    max-width: 60em;
}

/* LINKS */
a {
    color: rgba(188,173,150,.7);
    text-decoration: none;
}

a:hover {
    color: rgba(188,173,150);
    text-decoration: none;
}

/* HELPER CLASSES */
.text-centered {
    text-align: center;
}
.full-width {
    max-width: none;
    width: 100%;
}
.horiz-center {
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
@media (min-width: 768px) {
.hidden-desktop {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
}
@media (max-width: 767px) {
    .hidden-mobile {
        position: absolute;
        top: -9999px;
        left: -9999px;
}
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button {
    font-size: inherit;
}

.button,
button,
form input[type="submit"] {
    font-size: inherit;
    font-family: "Livvic", sans-serif;
    line-height: 1.2;
    background-color: transparent;
    border: 1px solid rgba(77,71,45,.7);
    color: rgba(77,71,45,.7);
    padding: 1em 1.5em;
    display: inline-block;
    margin: 1em 0em 0em 0em;
    text-align: center;
    border-radius: 1.5em;
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
    background-color: rgba(77,71,45,1);
    border-color: rgba(77,71,45,1);
    color: rgba(250,245,239,1);
    text-decoration: none;
}

.button.alt {
    border: 1px solid rgba(77,71,45,.8);
    background-color: transparent;
    color: rgba(77,71,45,.8);
}

.button.alt:hover {
    border-color: rgba(77,71,45,2);
    color: rgba(250,245,239,1);
}

/* LAYOUT */

/* SIMPLE RESET */
* { box-sizing: border-box; }

body { margin: 0; }

/* CONTAINER */
.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */
/* SMALL MEDIA QUERY (e.g. for mobile overrides) */
@media (max-width: 767px) {
    /* Inherits Small/Mobile Body Type from Above */
    /* Inherits Small/Mobile Fluid Width from Above */
}

/* #MEDIUM MEDIA QUERY */
@media (min-width: 768px) {
    /* Inherits Small/Mobile Body Type from Above */
    /* Inherits Small/Mobile Fluid Width from Above */
}
    .container,
    .container-signup,
    .container-help {
    max-width: 1200px;
    margin: 0 auto;
    } 

/* LARGE MEDIA QUERY */
@media (min-width: 1050px) {
    body {
        font-size: 100%; /* 16px */
    }
}

/* EXTRA LARGE MEDIA QUERY */
@media (min-width: 1250px) {
    body {
        font-size: 112.5%; /* 18px */
    }
    .container {
        max-width: 1200px;   
    }
}

/* FOR DEMO PURPOSES ONLY */
body.demo {
    padding-top: 2em;
}

body.demo::before {
    content: "Small (Mobile) Screen (less than 768px)";
    background-color: powderblue;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    padding: .25em;
}

@media (min-width: 768px) {
    body.demo::before {
        content: "Medium (Tablet) Screen (768px - 1050px)";
        background-color: palevioletred;
        width: 100%;
        position: fixed;
        top: 0;
        text-align: right;
        padding: .25em;
}
}

@media (min-width: 1050px) {
    body.demo::before {
        content: "Large (Notebook) Screen (1050px - 1250px)";
        background-color: palegoldenrod;
        width: 100%;
        position: fixed;
        top: 0;
        text-align: right;
        padding: .25em;
}
}

@media (min-width: 1250px) {
    body.demo::before {
        content: "Extra Large (Desktop) Screen (1250px +)";
        background-color: peachpuff;
        width: 100%;
        position: fixed;
        top: 0;
        text-align: right;
        padding: .25em;
}
}

/* SEMATIC GRID SYSTEM */

.row > .column {
    margin-bottom: 4%;
}

@media (min-width: 768px) {

    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }
    
    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.3333%;
    }

    .row > .column.two-thirds {
        max-width: 66.6666%;
    }

    .row > .column.one-fourth {
        max-width: 21%;
    }

    .row > .column.three-fourths {
        max-width: 79%;
    }

    .row > .column.two-fourths {
        max-width: 58%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* FOR DEMO PURPOSES ONLY */
.demo .column {
    background-color: rgba(0, 0, 0, .2);
    padding: 1em;
    text-align: center;
}

/* SITE HEADER */
.site-header .container {
    max-width: none;
    background-color: rgba(77,71,45,1);
}

/* .site-header {
    padding: .5em 0 .5em .5em;
    background-color: rgba(77,71,45,1);
} */

/* ON LARGER SCREEN LOGO GOES LEFT AND NAV GOES RIGHT */
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .5em;
    }
}

/* STYLING FOR BOTH SITE HEADER AND FOOTER */
.site-header a,
.site-footer a {
    color: rgba(219,208,206,.8);
}

.site-header a:hover,
.site-footer a:hover {
    color: rgba(219,208,206,1);
    text-decoration: none;
}

/* LOGO AREA */
.site-id {
    text-align: center;
}

.site-id h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #999;
    padding: 0.5em 0 0 0;
}

/* SITE-NAV */
/* .site-nav ul {
    font-size: 1.25em;
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.site-nav a {
    display: block;
    padding: 1.5em;
}

.site-nav .menu-button {
    display: none;
}

.site-nav {
    padding-right: 2em;
} */

.site-nav {
    padding: 1em 0 1em 0;
}
.site-nav .menu-button {
    display: none;
  }
.site-nav ul {
    display: flex;
    margin: 0;
    padding: 0.5em 0;
    justify-content: center;
    text-align: center;
}
.site-nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.site-nav ul li li {
    white-space: nowrap;
}
.site-nav ul li a {
    display: block;
    padding: 1em;
}
.site-nav ul li ul {
    border-top: none;
    margin: 0;
    padding: 0;
}
  
@media (min-width: 768px) {
    
    .site-nav ul {
        border-top: none;
        margin: 0;
        padding: 0;
    }

    .site-nav ul li {
        display: inline-block;
    }

    .site-nav ul li a {
        margin: 0 0.5em;
        padding: 0.5em;
    }

    .site-nav ul li li {
        display: block;
    }

    .site-nav ul li ul {
        text-align: left;
        position: absolute;
        z-index: 100;
        left: -9999px;
        background: #fff;
    }

    .site-nav ul li ul a {
        color: #999;
    }
    
    .site-nav ul li:hover ul {
        left: auto;
        right: 0;
    }
}
  
@media (max-width: 767px) {
    .site-nav ul li,
    .site-nav ul li ul li {
        display: block;
    }
}

/* SECTIONS
section {
    padding: 3em 0;
} */

/* PRODUCTS */
.column.one-third {
    text-align: center;
}

/* HERO */
.hero {
    padding: 0 4% 0 0;
    /* background-color: rgba(246,240,230,1); */
    text-align: right;
}

.hero p {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.hero h2 {
    color: rgba(77,71,45,1);
    padding: 0 0.5em 0;
    text-align: right;
}

.hero p {
    color: rgba(145,134,116,1);
    padding: 0 1em 0 10em;
    margin-right: 0em;
}

/* OUR STORY */
.hero.text-centered {
    margin: 0;
    text-align: right;
}

/* TOGGLE NAV */
@media (max-width: 767px) {
    .site-header {
        padding-bottom: 0em;
    }
    .toggle-nav .site-id {
        position: absolute;
        margin-top: 0.25em;
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: 0 0 1em 0;
        border: 1px solid rgba(250,245,239,1);
    }
    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(250,245,239,1);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }
    .toggle-nav .site-nav a:hover {
        background-color: rgba(250,245,239,1);
        color: rgba(145,134,116,1);
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

/* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255,255,255,0);
        padding-top: 0;
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        color: rgba(250,245,239,.8);
        font-size: 2em;
        margin: 0.5em 1em 0.25em 0;
    }
    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }
}

/* STICKY FOOTER */
/* .site-footer.sticky {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
} */

/* STICKY HEADER - works with a class="sticky" on .site-header */
/* .site-header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
}

.site-header.sticky+.site-main {
    padding-top: 3em;
} */

/* SITE-MAIN BACKGROUND */
.site-main {
    background-image: url(../img/background_2.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center;
}

/* SECTIONS */
.site-main .container {
    /* background-color: rgba(246, 240, 230, .2); */
    padding: 1em 1em;
}

/* SUB PAGES */
article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
}

article h1, 
article h1 + .subhead,
article .date {
    text-align: center;
}

article h2.subhead {
    font-weight: normal;
    font-size: 1.7em;
    line-height: 1.2;
    opacity: .8;
}

article .date {
    font-size: 75%;
    font-weight: normal;
    opacity: .5;
    margin-bottom: 3em;
}

article h1 {
    margin-top: 2em;
}

article p + h2,
article p + h3,
article p + h4 {
    margin-top: 1.6em;
}

article h3 {
    font-size: 112.5%;
    font-weight: bold;
}

blockquote {
    margin: 4em 2em 4em 2em;
}


/* 
article p:first-of-type {
    font-size: 1.4em;
    line-height: 1.3;
}*/

/* article p:first-of-type:first-letter {
    font-size: 3em;
    line-height: 1em;
    background: #000;
    color: #fff;
    padding: .2em .4em;
    margin-right: .3em;
    float: left;
} */

/* FORMS */

form {
    max-width: 600px;
    margin: 0 auto;
}

/* form label, */
form input {
/* form textarea { */
    box-sizing: border-box;
    display: block;
    width: 100%;
}

/* form label {
    margin-top: 1.5em;
    margin-bottom: 0.3em;
} */

form input[type="text"] {
    border: 0px;
    padding: .5em;
    color: rgba(219,218,206,.8);
    background-color: transparent;
}

/* form textarea {
    min-height: 15em;
    font-size: 87.5%;
    line-height: 1.5;
} */
/* 
form input[type="submit"] {
    margin-top: 1.5em;
    width: auto;
} */

/* CUSTOM SITE CSS */
.section-title {
    text-align: center;
    margin-bottom: 1em;
}

.section-title::after {
    content: "";
    display: block;
    width: 100px;
}

/* Vertical Media Query add height/padding to bottom of contact section only for large screen - crredit to Romina for this idea */
@media (min-height: 600px) {
#contact {
    padding-bottom: 15em;
}
}

/* PRODUCTS STYLING */

#products h2 {
    padding: 0 0.5em 0;
    max-width: 1200px;
    text-align: right;
    color: rgba(77,71,45,1);
}

#products h5 {
    text-align: center;
}

#products {
    padding: 0 4% 0 0;
    text-align: right;
    /* background: rgba(250,245,239,1); */
}


#products .container {
    position: relative;
}

#products .beans {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: 100;
}

#products .pomelo {
    position: absolute;
    top: -9999px;
    right: -9999px;
    z-index: 100;
}

#products .turmeric {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: 100;
}



@media (min-width: 768px) {


    #products .beans {
        top: 0;
        left: -210px;
        translate: -50% 5%;
    }

    #products .pomelo {
        top: 0;
        right: -220px;
        translate: 35% -5%;
    }

    #products .turmeric {
        top: 0;
        left: -210px;
        translate: -35% -10%;
    }
}


#blog h4 {
    text-align: left;
    padding: 1em 1.25em 0em 0.5em;
}

.read a {
    float: left;
    padding-left: 0.6em;
}

#blog h2 {
    padding-left: 1.3 5em;
    color: rgba(77,71,45,1);
}

.verticalLine {
    border: 1px solid black;
}

#quote {
    background: rgba(170,164,119,0.6);
    padding: 6em 1em;
}

.container-quote h1 {
    text-align: center;
    color: rgba(77,71,45,1);
    padding: 0 1em 0 1em;
}

.column.one-third, 
.column.two-thirds {
    padding-left: auto;
}

.column.one-third h4 {
    text-align: left;
}

.site-footer .column.one-third ul {
    list-style: none;
    text-align: left;
    padding: 0;   
}

.site-footer .column.two-thirds {
    text-align: left;
}

.site-footer .column.two-thirds {
    text-align: left;
}

.site-footer {
    /* margin-left: auto;
    margin-right: auto; */
    padding: 1em 0 1em 0;
    background-color: rgba(76,69,42);
    max-width: none;
}

.site-footer h4 {
    color: rgba(219,218,206);
}

.site-footer ul {
    color: rgba(188,173,150);
}

@media (max-width: 767px) {

    .site-footer .column.one-third, .column.two-thirds {
        padding: 2em;
    }
}

@media (max-width: 1250px) {
    .site-nav ul {
        padding-right: 1em;
    }
    
}
    
#blog .row {
    padding-left: 1.5em;
    padding-right: auto;
}

/* #blog {
    background-color: rgba(250,245,239,1);
} */

h1 {
    text-align: center;
}

.search-icon, .cart {
    font-size: 16px;
    color: rgba(219,208,206,.8);
}

/* ON SCROLL: MOVE IN FROM LEFT */
.nma-onscroll-movein-fromleft {
    animation: nma-movein-fromleft both linear;
    animation-timeline: view();
    animation-range: entry 0% contain 50%;
  }
  @keyframes nma-movein-fromleft {
    0% { translate: 50px; opacity: 0; }
    100% { translate: 0; opacity: 1; }
  }
  
  /* ON SCROLL: MOVE IN FROM RIGHT */
  .nma-onscroll-movein-fromright {
    animation: nma-movein-fromright both linear;
    animation-timeline: view();
    animation-range: entry 0% contain 50%;
  }
  @keyframes nma-movein-fromright {
    0% { translate: -50px; opacity: 0; }
    100% { translate: 0; opacity: 1; }
  }
  
  /* ON SCROLL: FADE IN */
.nma-onscroll-fadein {
    animation: nma-fade-in both linear;
    animation-timeline: view();
    animation-range: entry 0% contain 50%;
  }
  
  @keyframes nma-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  @keyframes move-in {  
    from { transform:translate(0,-10px); opacity: 0; } 
    to { transform:translate(0,0); opacity: 1; } 
  }

.site-main, .site-header, .site-footer {
    opacity: 0; 
    animation: move-in ease-in-out; 
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}